/* styles.css */

nav {
    display: flex;
    justify-content: space-between;
}

nav>section {
    display: flex;
}

.logo-icon {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    background-image: url(https://pm1.narvii.com/6526/95bc1261f2630386a6ec17460f3725c6022b28ba_hq.jpg);
    background-repeat: no-repeat;
}

.nav-item {
    border: 1px solid black;
    padding: 8px;
    border-radius: 8px;
}

.banner-container{
    height: 258px;
    border: 1px solid black;
}

.facility-list {
    display: flex;
    justify-content: space-around;
}